<p>
<strong>Theme Title</strong>
<%= @theme_title.title %>
</p>
<p>
<strong>Details</strong>
<%= @theme_title.details %>
</p>

<strong>Content</strong>
<ul>
	<% if @theme_title.articles.empty? %> 
		<li> No content please check again later </li>
	<% else %>
		<% @theme_title.articles.each do |content| %>
			<li> <%= content.title %> </li>
			<li> <%= content.text %> </li>
		<% end %>
	<% end %>
</ul>

<%= link_to 'Back', theme_titles_path %>

