<p>
<strong>Theme Title</strong>
<%= @theme_title.title %>
</p>
<p>
<strong>Details</strong>
<%= @theme_title.details %>
</p>

<strong>Content</strong>
<% @theme_title.articles.each do |content| %>
	<ul>
		<li> <%= content.title %> </li>
		<li> <%= content.text %> </li>
	</ul>
<% end %>

<%= link_to 'Back', theme_titles_path %>

