<!DOCTYPE html>
<html>
	<head>
		<title>Static Pages</title>	
		<%= stylesheet_link_tag    'application', params[:controller], media: 'all','data-turbolinks-track' => true %> 
		<%= javascript_include_tag 'application',	'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="main-container" class="container-fluid">
			<div class="row">
				<div class="col-xs-1">
					<div class="affix" id="sidebar">
						<ul class="nav nav-stacked">
							<li>
							<span class="has-tooltip" data-toggle="tooltip" title="Home">	
								<%= link_to home_path, class: "btn btn-default btn-block" do %>
									<i class="glyphicon glyphicon-home"></i> 
								<% end %>
							</span>
							</li>
							<br>
							<li>
							<span class="has-tooltip" data-toggle="tooltip" title="Contact">	
								<%= link_to contact_path, class: "btn btn-default btn-block" do %>
									<i class="glyphicon glyphicon-envelope"></i> 
								<% end %>
							</span>
							</li>
							<br>
							<li>
							<span class="has-tooltip" data-toggle="tooltip" title="About">	
								<%= link_to about_path, class: "btn btn-default btn-block" do %>
									<i class="glyphicon glyphicon-send"></i> 
								<% end %>
							</span>
							</li>
							<br>
							<li>
							<span class="has-tooltip" data-toggle="tooltip" title="Project">	
								<%= link_to project_path, class: "btn btn-default btn-block" do %>
									<i class="glyphicon glyphicon-globe"></i> 
								<% end %>
							</span>
							</li>
						</ul> 
					</div> <!-- sidebar affix -->
				</div> <!-- col-xs-1 -->
				<div id="main-content" class="col-xs-11">
					<%= yield %>
				</div>
			</div> 
		</div>
	</body>
</html>
